* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

 body {
  overflow: hidden;
} 

.grid {
  display: grid;
  grid-template-rows: 10% repeat(3, 5%) 70% 5%;
  grid-template-columns: 1fr repeat(6,2fr) 1fr;
  grid-gap: 0px;
  background-color: #77C9F9; 
}

.pokemonDictionary {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px 5px;
  justify-self: center;
  align-self: center;
}

.pikachuImage {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 10vw;
  justify-self: center;  
}

.menuBar {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr repeat(6,2fr) 1fr;
  grid-template-rows: subgrid;
  background-color: #F7C900;
  align-content: center;
}
#menuBtn {
  background-color: #F7C900;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  Font-Family: 'Raleway', Sans-Serif;
  font-weight: bold;
  text-align: center;
  height: fit-content;
  font-size: x-large;
  color: #2D4C8F;
  
  
}

#closeBtn {
  padding-left: 90%;
  font-size: 4vw;
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
}

#navMenu {
  display: none;
  background-color: #F7C900;
  z-index: 1000;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
  
  margin: 0;
  padding-top: 20px;

  
}

.mainMenu {
  display: inline;
}

.mainMenu li {
  
  background-color: #F7C900;
  width: 100%;
  height: 10vw;
  justify-content: center;
  border-bottom: 1px solid #77C9F9;
  padding:5vw;
  Font-Family: 'Raleway', Sans-Serif;
  vertical-align: middle;
  font-weight: bold;
  font-size: larger;
  color: #2D4C8F;

}

.sortMenu {
  display: inline;
  background: #FAD224;
  Font-Family: 'Raleway', Sans-Serif;
  
}

.sortMenu li{
  
  background: #FAD224;
  border-bottom: 1px solid #77C9F9;
  padding-right: 0;
  padding-left: 12vw;
  padding-bottom: 0vw;
  padding-top: 3vw;
  color: #2D4C8F;
  font-size: medium;
}



main{
  background-image: url(imagenes/background2.jpg);
  background-color: blue;
  background-size: contain;
  width: 100%;
  display:flex;
  justify-content: center;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
 
}

#container{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 80%;
  height: 700px;
  overflow-y: scroll;
  background-blend-mode: luminosity;
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #F7C900;
  padding: 0;
  margin: 0;

}

.pokemon{
  background: #FFFFFF;
  border-radius: 20px;
  width: 10%;
  padding: 0;
  display:flex;
  flex-direction: column;
  max-height: 230px;
  min-width: 220px;
  margin:2em;
  overflow: hidden;
  box-shadow: 2px 4px 10px#2D4C8F;
}


.name{
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  text-align: center;
}

.num{
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  text-align: center;
}

.img{
  display: flex;
  justify-content: center;
}

.imgPokemon{
  height: 120px;
  width: 120px;
}

.type{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
}

.Grass{
 Font-Family: 'Open Sans', Sans-Serif;
 color: #2D4C8F;
 background: #9BCC50;
 text-align: center;
 padding-top: 0.5vw;
 padding-bottom: 0.3vw;
}

.Poison{
 Font-Family: 'Open Sans', Sans-Serif;
 color: #2D4C8F;
 background: #B97FC9;
 text-align: center;
 padding-top: 0.5vw;
 padding-bottom: 0.3vw;
}

.Fire{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #fd7d24;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }

 .Water{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #4592c4;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Bug{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #729f3f;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Normal{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #a4acaf;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Electric{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #eed535;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ground{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #f7de3f, #ab9842);
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Fighting{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #d56723;;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Psychic{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #f366b9;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Rock{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #a38c21;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ghost{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #7b62a3;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ice{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #51c4e7;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Dragon{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #53a4cf, #f16e57);
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Flying{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #3dc7ef , #bdb9b8 );
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }





@media screen and (max-width:800px){
  
  .logo img{
    height: 18vw;
  }

  .logo1{
    width: 70%;
  }

  .menu_bar{
    display: block;
    width: 100%;
    background-color: #F7C900;
  }

  .imgPokemon{
    height: 80px;
    width: 80px;
  }

  .pokemon{
    max-height: 165px;
    min-width: 140px;
    margin: 0.5em;
  }

  main{
    background-size: cover;
  }

  #container{
    display: flex;
    width:90%;
    flex-direction: row;
  }

  .name{
    font-size:medium;
  }
  
  .num{
    font-size: small;
  }

}






@media screen and (min-width:800px){

  .grid {
    display: grid;
    grid-template-rows: 2% 10% 5% 5% 5% 5% 63% 5%;
    grid-template-columns: 14% 8% 8% 8% 24% 8% 8% 8% 14%;
    grid-gap: 0px;
    background-color: #77C9F9; 
  }

  .menuBar{
    display: none;
  }


  #closeBtn {
    display:none;
  }
  
  .pokemonDictionary {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    max-width: 350px;
    padding: 0;
    margin: 0;
  }
  
  .pikachuImage {
    /*grid-column-start: 2;
    grid-column-end: 3;*/
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 50px;
    justify-self: center;
    display: none;
  }


  #navMenu{
    display:block;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    padding: 0;
    
  }
  
  .mainMenu {
    display: block;
    justify-content: center;
    margin-left: 14%;
    border-bottom: none;
        
  } 

  

  .mainMenu li {
    width: 8%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-left: -4px;
    text-align: center;
    list-style-type: none;
    /*border: 2px solid green;*/
    display: inline-block;
    border-bottom: none;
    padding-top: 0.7%;
  }

  .mainMenu li:hover {
    color: red;
  } 

   
  .mainMenu li a {
    padding-top: 10%;
    margin: 0;
    text-decoration: none;
    color: #2D4C8F;

  } 

  .sortMenu {
    display: none;
    position: absolute;
    /*border: 2px solid green;*/
    background: #FAD224;
    left: 0;
    padding: 0 0 0 18%;
    height: 100%;
    /*vertical-align: middle;*/
    justify-content: center;
    width: 100%;
    margin: 0;
    border-top: 2px solid #77C9F9;
    
    
    
  }

  .sortMenu li {
    display: inline-block;
    padding-left: 0;
    padding-top: 1%;
    justify-content: unset;
    margin: 0;
    height: 95%;
    background: none;
    width: 19%;   
  }
 
 .sortMenu li a {
   width: 100%;
 }

  main {
    grid-column-start: 1;
    grid-column-end:10;
    grid-row-start: 5;
    grid-row-end: 8;
    overflow:hidden;
  }

  #container::-webkit-scrollbar{
    width: 7px;
  }
  
  #container::-webkit-scrollbar-thumb{
    background-color: #2D4C8F;
    border-radius: 5px;
  }
  

  footer {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
    
  }
  
  .pokemon:hover {
    transform: scale(1.2); 
  }
}