* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

 body {
  overflow: hidden;
} 

.grid {
  display: grid;
  grid-template-rows: 10% repeat(3, 5%) 70% 5%;
  grid-template-columns: 1fr repeat(6,2fr) 1fr;
  grid-gap: 0px;
  background-color: #77C9F9; 
}

.pokemonDictionary {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px 5px;
  justify-self: center;
  align-self: center;
}

.pikachuImage {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 10vw;
  justify-self: center;  
}

.menuBar {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr repeat(6,2fr) 1fr;
  grid-template-rows: subgrid;
  background-color: #F7C900;
  align-content: center;
}
#menuBtn {
  background-color: #F7C900;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  Font-Family: 'Raleway', Sans-Serif;
  font-weight: bold;
  text-align: center;
  height: fit-content;
  font-size: x-large;
  color: #2D4C8F;
  
  
}

#closeBtn {
  padding-left: 90%;
  font-size: 4vw;
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
}

#navMenu {
  display: none;
  background-color: #F7C900;
  z-index: 1000;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
  overflow-y:scroll;
  margin: 0;
  padding-top: 20px;

  
}

.mainMenu {
  display: inline;
}

.mainMenu li {
  
  background-color: #F7C900;
  width: 100%;
  height: 10vw;
  justify-content: center;
  border-bottom: 1px solid #77C9F9;
  padding:5vw;
  Font-Family: 'Raleway', Sans-Serif;
  vertical-align: middle;
  font-weight: bold;
  font-size: larger;
  color: #2D4C8F;

}

#typeMenu, #weaknessMenu, .sortMenu {
  /*display: inline;*/
  background: #FAD224;
  Font-Family: 'Raleway', Sans-Serif;
  overflow-y: scroll;
  height:40vw;
  
}

#typeMenu li, #weaknessMenu li, .sortMenu li{
  
  background: #FAD224;
  border-bottom: 1px solid #77C9F9;
  padding-right: 0;
  padding-left: 12vw;
  padding-bottom: 0vw;
  padding-top: 3vw;
  color: #2D4C8F;
  font-size: medium;
}

.backButton {
  display: none;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #F7C900;
  
}

#back {
  display: block;
  width: 10%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  
}

#divFilter {
  color: #2D4C8F;
  Font-Family: 'Raleway', Sans-Serif;
  position: absolute;
  font-size: small;
  top: 20%;
  width: 90%;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.3);
}

#pFilter {
  
  position: absolute;
  width: fit-content;
  padding: 0;
  margin: 0;
  right: 5%;
  top: 30%;
}

#searchBar {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3% 0 3% 0;
  height: 100%;
 
}

#searchInput {
  border-radius: 5px;
  border: 1px solid #F7C900;
  

  
}

#searchInput::placeholder {
  Font-Family: 'Raleway', Sans-Serif;
  color: #F7C900;
  opacity: 50%;
  text-align: right;
}

main{
  background-image: url(imagenes/background2.jpg);
  background-color: blue;
  background-size: contain;
  width: 100%;
  display:flex;
  justify-content: center;
  overflow-y: scroll;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
 
}

#container{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 80%;
  height: fit-content;
  /*overflow-y: scroll;*/
  background-blend-mode: luminosity;
  background-color: rgba(255, 255, 255, 0.3);

}

#topButton {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  display: grid;
  grid-template-rows: 10fr;
  grid-template-columns: 3fr; 
  z-index: 1000; 
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#topButtonImg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  display: none;
  height: 50px;
  width: 50px;
  opacity:0.7;

}

#topButtonImg:hover {
  opacity:1;
}



#pokeStats {
  display: none;
}


footer {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #F7C900;
  padding: 0;
  margin: 0;
  display:flex;
}

.officialPage{
 height: 100%; 
 width: 50%;
 display:flex;
 justify-items: center;
}

.officialPage2{
  text-decoration: none;
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  font-size: small;
  padding-top: 4%;
  opacity: 0.7;
  text-align: center;
 }

 .officialPage2:hover{
   opacity: 1;
 }

 .socialNetwork{
   width: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
 }

 .network{
   height: 25px;
   width: 25px;
   margin: 5px;
   opacity: 0.7;
 }

 .network:hover{
   opacity:1;
 }


.pokemon{
  background: #FFFFFF;
  border-radius: 20px;
  width: 10%;
  padding: 0;
  display:flex;
  flex-direction: column;
  max-height: 230px;
  min-width: 220px;
  margin:2em;
  overflow: hidden;
  box-shadow: 2px 4px 10px#2D4C8F;
}


.name{
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  text-align: center;
}

.num{
  Font-Family: 'Raleway', Sans-Serif;
  color: #2D4C8F;
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  text-align: center;
}

.img{
  display: flex;
  justify-content: center;
}

.imgPokemon{
  height: 120px;
  width: 120px;
}

.type{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
}

.Grass{
 Font-Family: 'Open Sans', Sans-Serif;
 color: #2D4C8F;
 background: #9BCC50;
 text-align: center;
 padding-top: 0.5vw;
 padding-bottom: 0.3vw;
}

.Poison{
 Font-Family: 'Open Sans', Sans-Serif;
 color: #2D4C8F;
 background: #B97FC9;
 text-align: center;
 padding-top: 0.5vw;
 padding-bottom: 0.3vw;
}

.Fire{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #fd7d24;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }

 .Water{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #4592c4;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Bug{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #729f3f;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Normal{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #a4acaf;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Electric{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #eed535;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ground{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #f7de3f, #ab9842);
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Fighting{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #d56723;;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Psychic{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #f366b9;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Rock{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #a38c21;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ghost{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #7b62a3;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Ice{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: #51c4e7;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Dragon{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #53a4cf, #f16e57);
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }


 .Flying{
  Font-Family: 'Open Sans', Sans-Serif;
  color: #2D4C8F;
  background: linear-gradient(180deg, #3dc7ef , #bdb9b8 );
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.3vw;
 }





@media screen and (max-width:800px){
  
  .logo img{
    height: 18vw;
  }

  .logo1{
    width: 70%;
  }

  .menu_bar{
    display: block;
    width: 100%;
    background-color: #F7C900;
  }

  .imgPokemon{
    height: 80px;
    width: 80px;
  }

  .pokemon{
    max-height: 165px;
    min-width: 140px;
    margin: 0.5em;
  }

  main{
    background-size: cover;
  }

  #container{
    display: flex;
    width:90%;
    flex-direction: row;
  }

  .name{
    font-size:medium;
  }
  
  .num{
    font-size: small;
  }

}






@media screen and (min-width:800px){

  .grid {
    display: grid;
    grid-template-rows: 2% 10% 5% 5% 5% 5% 63% 5%;
    grid-template-columns: 14% 8% 8% 8% 8% 16% 8% 8% 8% 14%;
    grid-gap: 0px;
    background-color: #77C9F9; 
  }

  .menuBar{
    display: none;
  }


  #closeBtn {
    display:none;
  }
  
  .pokemonDictionary {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    max-width: 350px;
    padding: 0;
    margin: 0;
  }
  
  .pikachuImage {
    /*grid-column-start: 2;
    grid-column-end: 3;*/
    grid-row-start: 4;
    grid-row-end: 5;
    max-width: 50px;
    justify-self: center;
    display: none;
  }


  #navMenu{
    display:flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    height: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
    justify-content: center;
    
    
    
  }

  .mainMenu {
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 72%;
   
    
    
  } 

  
   
  .mainMenu li {
    
    
    width: 11.11%;
    height: 100%;
    padding: 1vh 0vw;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    
    list-style-type: none;
    
    
    border-bottom: none;
    position: relative;
    
  }
  
  .mainMenu li:hover {
    color: red;
  }

  #typeMenu, #weaknessMenu, .sortMenu {
    display: none;
    position: absolute;
    top: 27%;
    width: 30%;
    height: 50%;
    padding: 0;
    margin: 0;
  }

.sortMenu {
    height: 20%;
    overflow: hidden;
  }

  #typeMenu li, #weaknessMenu li, .sortMenu li {
    height: 10%;
    width: 100%;
    padding: 1vh 0vw;
    margin: 0;
    border-bottom: 1px solid #77C9F9;
    text-align: center;
    vertical-align: middle;
    
  }

  .sortMenu li {
    height: 25%;
  }

  #searchBar {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
    position: relative;
    z-index: 1000;
    padding: 2% 7% 2% 0;
    height: 100%;
    
    /*border: solid 5px green;*/
   
  }

  #searchInput::placeholder {
    font-size: large;
  }

  #divFilter {
    font-size: large;
    color: #2D4C8F;
    Font-Family: 'Raleway', Sans-Serif;
    height: 5%;
    width: 79.5%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10.5%;
    top: 27%;
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: right;
  }
  
  #pFilter {
    
    position: absolute;
    right: 7%;
    top: 40%;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .backButton {
    display: none;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #F7C900;
    
    
  }

  main {
    grid-column-start: 1;
    grid-column-end:11;
    grid-row-start: 7;
    grid-row-end: 8;
    overflow:hidden;
    overflow-y: scroll;
  }

  main::-webkit-scrollbar{
    width: 7px;
  }
  
  main::-webkit-scrollbar-thumb{
    background-color: #2D4C8F;
    border-radius: 5px;
  }
  
  #topButton {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 60px;
    height: 60px;
    margin-top: 50vh;
    margin-left: 30%;

    
    
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
    
  }

  .officialPage2{
    padding-top: 1.5%;
  }

  #network{
    height: 35px;
    width: 35px;
    margin: 10px;
  }
  
  .pokemon:hover {
    transform: scale(1.2); 
  }
}