body {
  background-image: url("background.jpg");
  }

  #pokemonLogo {
    max-width: 15%;
    float: left;
  }

  .titlePokemon {
    color: cornsilk;
  }

.container {
  border-style: outset;
  background-color: lightyellow;
  width: 20%;
  vertical-align: middle;
  /*border-color: blue;*/
  margin: 0.5vw;
  display: inline-block;
  border-radius: 10px;
}

img {
  max-width: 40%;
  float: right;
  margin-right: 1vw;
}

h1, p {
  font: courier new;
  font-size: 0.5vw;
  margin-left: 1vw; 
  font-family: 'Syncopate';   
}

.pokemonNameStyle {
  font-family: 'Bungee Inline';
  font-size: 0.8vw;
}

