body{
  margin:0;
} 

.menu, .pokemon, footer, main {
  padding: 1em  1em;
} 

.logo {
  background-color: #77C9F9;
  width: 100%;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0em  1em;
}

.pikachu img {
  position: fixed;
}


.menu {
  background-color: #F7C900;
  width: 100%;
  position: fixed;
  height: 5vw;
}

.menu > nav{
background-color: #F7C900;
z-index: 1000;
max-width: 1000px;
width: 100%;
margin: 8vw, auto;
}

.menu_bar{
  display:none;
}

header nav ul{
  list-style:none;
}

header nav ul li{
  display: inline-block;
  position: relative;
  
}

header nav ul li a{
 color: #2D4C8F;
 font-size: x-large;
 display:block;
 text-decoration: none;
 padding:1vw;
}

header nav ul li :hover{
color: #F83500;
}

header nav ul li:hover .children{
display: block;
}

header nav ul li .children{
  display: none;
  background: #FAD224;
  position: absolute;
  z-index:1000;
  padding: 0vw;
  
}

header nav ul li .children li{
  display:block;
  overflow: hidden;
  border-bottom: 1px solid #77C9F9;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}


main{
  background-color: turquoise;
  width: 100%;
}

footer{
  /*height: 50px;*/
  background-color: #F7C900;
  width: 100%;
}

@media screen and (max-width:800px){
  
  .logo img{
    height: 18vw;
  }

  .logo1{
    width: 70%;
  }

  .pikachu{
    width: 30%;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .pikachu img{
    height: 14vw;
  }
  main{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .menu_bar{
    display: block;
    width: 100%;
    position: fixed;
    background-color: #F7C900;
  }

  .menu_btn {
    display: block;
    padding: 5vw;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: #2D4C8F;
  }

  header nav {
    width: 100%;
    position: fixed;
    right: 100%;
    margin: 0;
    height: 100%;
    overflow: scroll;
    
  }

  header nav ul {
    padding: 5vw;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid #77C9F9;
    padding-top: 8vw;
    padding-bottom: 8vw;
  }

  header nav ul li a  {
    display: block;
  }

  header nav ul li .children{
    position: relative;
    width: 100%;
  }


  .pokemon{
    background-color: red;
    width: 100px;
    height: 120px;
    margin: 5px;
  }
}
 

@media screen and (min-width:800px){

  .logo{
   height: 10vw;
  }
  
  .logo1{
    width: 60%;
  }
  .logo img{
    height: 8vw;
  
  }
  .pikachu{
    width: 40%;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }
  .pikachu img{
    height: 6vw;
  }
  
  main{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    /*display: flex;*/
  }

  .pokemon{
    background-color: gray;
    width: 8%;
    height: 12vw;
    margin: 15px;
  }
}

 















